.table {
  min-width: 1000px !important;
  width: 100%;
}

.table tbody {
  border: none !important;
}

.scrollTable {
  height: 75vh;
  overflow: auto;
}

.table thead th {
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #5d3cbe;
  background-color: #e7e7e7;
}

.navbody {
  background: #5d3cbe;
}


.table thead tr {
  background: #fff;
}

.table tbody tr {
  margin-bottom: 10px;
}

.table tbody tr:last-child {
  border-bottom: 0
}

.table tbody th, .table tbody td {
  border: none !important;
  padding: 1rem;
  font-size: 14px;
  background: #fff;
  vertical-align: middle
}

.table tbody td {
  background-color: #fcfbfa;
}

.table tbody td.status span {
  position: relative;
  border-radius: 30px;
  padding: 4px 10px 4px 25px
}

.table tbody td.status span:after {
  position: absolute;
  top: 9px;
  left: 10px;
  width: 10px;
  height: 10px;
  content: '';
  border-radius: 50%
}

.table tbody td.status .active {
  background: #cff6dd;
  color: #1fa750
}

.table tbody td.status .active:after {
  background: #23bd5a
}

.table tbody td.status .waiting {
  background: #fdf5dd;
  color: #cfa00c
}

.table tbody td.status .waiting:after {
  background: #f2be1d
}

.table tbody td .img {
  width: 50px;
  height: 50px;
  border-radius: 50%
}

.table tbody td .email span {
  display: block
}

.table tbody td .email span:last-child {
  font-size: 12px;
  color: rgba(0, 0, 0, .3)
}

.table tbody td .close span {
  font-size: 12px;
  color: #dc3545
}

.cursor {
  cursor: pointer;
}

/* tooltip for showing last updated by,created By etc... */
.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  z-index: 1;
}



.tooltip .tooltiptext-left {
  visibility: hidden;
  width: 250px;
  background-color: #424242;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}



.tooltip:hover .tooltiptext-left {
  visibility: visible;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-box-shadow: 0 8px 15px 0 rgba(62, 57, 107, .2);
  box-shadow: 0 8px 15px 0 rgba(62, 57, 107, .2);
}



.tooltip .tooltiptext-left::after {
  content: none;
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #424242 transparent transparent;
  -webkit-box-shadow: 0 8px 15px 0 #3e396b33;
  box-shadow: 0 8px 15px 0 #3e396b33;
}



.tooltip .tooltiptext-right {
  visibility: hidden;
  width: 250px;
  background-color: #424242;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  margin-left: 10px;
  position: absolute;
  z-index: 1;
  top: -8px;
  right: 105%;
}



.tooltip:hover .tooltiptext-right {
  visibility: visible;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-box-shadow: 0 8px 15px 0 #3e396b33;
  box-shadow: 0 8px 15px 0 #3e396b33;
}
